.category-dropdown-style-contianer {
  padding-right: 30px;
}
.LOB-full-sceen-table-view-container {
  background-color: rgba(0, 0, 0, 0.668);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  backdrop-filter: blur(20px);
}
.Lob-fullScreen-details-table-container {
  height: 94vh;
  overflow-y: auto;
  background-color: rgb(255, 249, 240);
}
