.footer-container {
  background-image: url("https://images.unsplash.com/photo-1670748022221-ca40a3c1f675?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1932");

  background-size: fill;
  background-position: start;

  padding: 12px;
}

.footer-info-container-text {
  font-size: 12px;
  font-weight: lighter;
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 10px;
  margin: 0 0 0 0;
}
