.category-option-container {
  height: 40px;
  width: 300px;
  color: rgb(109, 109, 109);
  border: solid 1px rgb(229, 229, 229);
  padding-left: 10px;
  border-top-right-radius: 5px;

  outline: none;
}

.header-title {
  color: rgb(184, 0, 0);
  font-weight: lighter;
  font-size: 25px;

  width: 270px;
}
.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 7vh;
}
.category-dropdown-style-contianer {
  display: flex;
  height: 7vh;
  align-items: end;
  justify-content: end;

  width: 100%;
}
.organization-container {
  padding-left: 20px;
  padding-right: 20px;
  height: 75vh;
}
.category-label-style {
  background-color: rgb(238, 238, 238);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  padding-left: 10px;
  padding-right: 5px;
  border-top-left-radius: 5px;
  color: grey;
}
.category-details-table-container {
  width: 100%;
  height: 66vh;

  overflow-y: auto;
  background-color: rgb(255, 249, 240);
}
.LOB-table-header-style {
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 40px;
  font-size: small;
  color: rgb(94, 94, 94);
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 1;
}
.LOB-category-style {
  width: 80%;
  text-align: left;
  padding-left: 25px;
}
.LOB-table-style {
  width: 100%;
  border-collapse: collapse;
}

.LOB-button-style {
  width: 10%;
  font-weight: 400;
}
.LOB-category-style {
  width: 80%;
  font-weight: 400;
  text-align: left;
  padding-left: 25px;
}
.LOB-table-description-style {
  background-color: rgb(253, 253, 253);
  height: 40px;
}
.pagination-container {
  background-color: rgb(235, 235, 235);
  height: 43px;
}
