.user-main-container {
  overflow: auto;
  height: 82.5vh;
  width: 100%;
}
.admin-user-header-title {
  color: rgb(145, 0, 0);
  font-weight: lighter;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(223, 223, 223);
  height: 8vh;
}
.exit-icon {
  color: grey;
  padding-right: 20px;
  cursor: pointer;
}
.exit-icon:hover {
  color: red;
}
.user-description-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.user-content-main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-add-content-container {
  position: absolute;
  top: 123px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.524);
  z-index: 2000;
  border: solid 1px black;
  height: 82.5vh;
  width: 99.89%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.user-add-content-detail-container {
  background-color: white;
  height: 68vh;
  width: 97%;
  border-radius: 12px;
  padding: 10px;
  padding-top: 0px;
}
.user-text-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  margin-right: 15px;
  outline-color: rgb(93, 167, 240);
  height: 35px;
}
.user-required-icon-style {
  font-size: 6px;
  color: rgba(161, 6, 6, 0.856);
  margin-left: 5px;
}
.user-label-name {
  font-family: Roboto;
  font-size: smaller;
  color: grey;
  display: flex;
  align-items: center;
}
.add-user-header {
  text-align: left;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.175);
}
.admin-user-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  padding-left: 17px;
}
.para-label-name {
  font-family: Roboto;
  font-size: smaller;
  color: grey;
  padding-left: 17px;
}

.checkbox-contianer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: rgb(74, 74, 74);
}
.user-btn-container {
  text-align: center;
}
.user-additional-btn {
  width: 150px;
}
.user-content-final-container {
  width: 33.5%;
}

.user-table-main-container {
  width: 100%;
  height: 67vh;
  background-color: rgb(246, 253, 255);
}
.user-FullView-table-main-container {
  width: 100%;
  height: 94vh;
  background-color: rgb(246, 253, 255);
}
.user-table {
  width: 100%;
  border-collapse: collapse;
}
.user-table-header {
  background-color: rgb(235, 235, 235);
  height: 42px;
}

.user-header-font {
  font-weight: 500;
  font-size: 15px;
  color: rgb(31, 31, 31);
  padding-left: 6px;
  padding-right: 6px;
  font-family: Roboto;
}

.name-style {
  width: 10%;
  text-align: left;
}

.email-style {
  width: 17%;
  text-align: left;
}

.org-style {
  width: 18%;
  text-align: left;
}
.LOB-style {
  width: 18%;
  text-align: left;
}
.user-btn-style {
  width: 1%;
  text-align: left;
}
.user-description-row {
  background-color: rgb(253, 253, 253);
  height: 40px;
  color: rgb(4, 4, 4);
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  word-break: break-all;
  text-wrap: wrap;
  /* border-bottom: solid 0.5px rgb(239, 239, 239); */
}

.space-style {
  padding-left: 6px;
}
.admin-user-btn-container {
  text-align: center;
  margin-top: 20px;
}
.user-search-content-detail-container {
  background-color: white;
  width: 78%;
  height: 30rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.admin-user-content-main-final-container {
  width: 53.5%;
}

.admin-search-user-header-title {
  background-color: rgb(220, 220, 220);
  margin-top: 0px;
  height: 9vh;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: rgb(155, 6, 6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
}
.admin-search-content-details-contianer {
  padding-left: 20px;
}
.user-edit-icon {
  cursor: pointer;
  font-size: 13px;
  color: grey;
  text-align: center;
  transition: 0.3s;
}
.user-edit-icon:hover {
  color: rgb(92, 0, 0);
}
