.support-main-container {
  height: 70vh;
}
.support-header-component {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: -10px;
}
.btn-search-ticket {
  background-color: rgb(35, 76, 146);
  border: none;
  color: rgb(255, 245, 233);
  height: 30px;
  width: 120px;
  border-radius: 5px;
  margin-left: 20%;
  cursor: pointer;
}

.content-style {
  color: rgb(71, 71, 71);
  background-color: rgb(222, 222, 222);
  height: 33px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(190, 190, 190);
  font-size: small;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.drop-down-ticket {
  width: 30%;
  height: 35px;
  padding-left: 15px;
  outline: none;
  border: solid 1px rgb(190, 190, 190);
  border-left: none;
  border-right: none;
  color: rgb(94, 94, 94);
}

.search-style {
  height: 35px;
  width: 35px;
  border-left: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  /* border-right: none; */
  /* border-right: solid 1px rgb(229, 229, 229); */
  border-top: solid 1px rgb(184, 184, 184);
  border-bottom: solid 1px rgb(190, 190, 190);
  border-right: solid 1px rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(128, 128, 128);
}
.search-style:hover {
  background-color: rgba(213, 213, 213, 0.935);
  color: rgb(63, 63, 63);
}
/* .cancel-style {
  height: 35px;
  width: 35px;
  border-left: none;
  border-right: solid 1px rgb(184, 184, 184);
  border-top: solid 1px rgb(184, 184, 184);
  border-bottom: solid 1px rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(128, 128, 128);
  font-size: 16px;
  background-color: rgb(255, 255, 255);
} */

.cancel-style:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(188, 5, 5, 0.942);
}

.addition-style-container {
  display: inline;
  width: 50%;
  margin-left: 50%;
  margin-top: -10px;
  margin-bottom: 0px;
}
.subject-style {
  width: 10%;
}
.comment-style {
  width: 40%;
}
.status-style {
  width: 20%;
}
.Date-style {
  width: 15%;
}
.table-header-style {
  background-color: rgb(235, 235, 235);
  height: 35px;
  color: rgb(226, 251, 251);
}

.support-common-font-style {
  font-weight: 100;
  font-size: small;
  border: none;
}
.search-contanier {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.new-support-table-header-style {
  background-color: rgb(211, 223, 244);
  height: 40px;
  border: none;
  font-family: Roboto;
  width: 100%;
}
.support-desciption-row-style {
  background-color: rgb(248, 248, 248);
  border: none;
  height: 45px;
  border-bottom: solid 1px rgb(235, 234, 234);
}
.new-support-table-style {
  border-collapse: collapse;
  width: 100%;
}
.table-footer {
  width: 100%;
}
.support-table-footer-style {
  border: solid 1px black;
  height: 40px;
  width: 100%;
}
.table-footer {
  height: 44px;
  width: 100%;
  background-color: rgb(211, 223, 244);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.pagination-font-style {
  color: rgb(137, 146, 178);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
}
.pagination-font-style:hover {
  color: rgb(96, 96, 96);
}

.drop-down-selection {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  height: 30px;
  width: 45px;
  margin-left: 5px;
  outline: none;
  color: rgb(97, 97, 97);
}
.pagination-content {
  margin-right: 30px;
  color: rgb(97, 97, 97);
  font-size: small;
}
.pagination-content-new {
  color: rgb(97, 97, 97);
  font-size: small;
  font-family: Roboto;
}
