.main-Header-component {
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(75, 75, 75),
    rgb(42, 42, 42),
    rgb(31, 31, 31)
  );
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 53px;

  width: 100%;
}
.min-links-container {
  display: flex;
  height: 53px;
  display: flex;
  align-items: center;
}
.link-style {
  text-decoration: none;
  color: rgb(156, 156, 156);
  margin-right: 13px;
  font-family: Roboto;
  font-weight: 0px;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
}
.support-style {
  background-color: rgb(79, 78, 78);
  color: rgb(163, 163, 163);
  padding-top: 25px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 19px;
}
.options-container {
  height: 53px;
  margin: 15px;
  display: flex;
  align-items: center;
  background-color: rgb(17, 17, 17);
  width: 300px;
}
.select-dropdown {
  background-color: rgb(17, 17, 17);
  border: none;
  color: rgb(182, 182, 182);
  margin-right: 15px;
  margin-left: 15px;
  outline: none;
  width: 200px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}

.select-dropdown:hover .country-data-dropdown-container {
  display: block;
}

.country-data-dropdown-container {
  position: absolute;
  top: 40px;
  background-color: white;
  list-style: none;
  width: 170px;
  height: 120px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0px;
}
.country-list-style {
  display: block;
  color: rgb(108, 108, 108);

  height: 25px;
  padding-left: 20px;
  padding-top: 10px;
}

.country-list-style:hover {
  background-color: rgb(195, 193, 193);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.drop-down-continer-icon {
  margin-left: 10px;
  color: rgb(182, 182, 182);
  font-size: 20px;
}

.option-link {
  padding: 20px;
}

.admin-drop-down-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  border: solid 1px white;
  position: absolute;
  top: 50px;
  left: 320px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 10px;
  padding-bottom: 6px;
}
.admin-link-style {
  text-decoration: none;
  padding-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 14px;
  height: 24px;
  color: rgb(83, 83, 83);
}

.admin-link-style:hover {
  background-color: rgb(195, 193, 193);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.notification-cotnainer {
  display: inline;
  width: 15px;
  padding: 2px;
  font-weight: 300px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 10px;
  color: white;
  margin-left: 9px;
  border-radius: 55%;
  background-image: linear-gradient(
    to left,
    #c70202,
    rgb(255, 0, 0),
    rgb(219, 1, 1)
  );
  position: relative;
  top: -10px;
}
