.questionnair-content-final-container {
  display: flex;
  width: 67%;
}

.questionnair-table-contianer {
  width: 100%;
  margin-top: 20px;
  height: 60vh;
  overflow-y: auto;
}

.questionnair-table {
  width: 100%;
  border-collapse: collapse;
}
.questionnair-row-header {
  height: 43px;
  width: 100%;
  background-color: rgb(207, 229, 251);
  text-align: left;
  font-size: small;
  color: rgb(59, 59, 59);
  padding-left: 6px;
}
.s-no-style {
  width: 10%;
  padding-left: 6px;
}
.category-style {
  width: 20%;
  padding-left: 6px;
}
.question-style {
  width: 30%;
  padding-left: 6px;
}
.questionnair-container {
  padding-left: 20px;
  padding-right: 20px;
}
.questionnair-row-description {
  height: 43px;
  width: 100%;
  background-color: rgb(240, 246, 255);
  text-align: left;
  font-size: small;
  font-weight: 400;
  color: rgb(59, 59, 59);
  padding-left: 6px;
}
