.questionnair-content-final-container {
  display: flex;
  width: 67%;
}

.questionnair-main-container {
  background-color: rgba(57, 57, 57, 0.829);
  position: absolute;
  top: 123px;
  left: 0%;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.questionnair-user-content-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.questionnair-text-input {
  width: 100%;
  height: 35px;
  border: solid 1px rgb(163, 163, 163);
  border-radius: 5px;
  padding-left: 10px;
  outline-color: rgb(107, 149, 255);
}

.questionnair-label-name {
  font-size: 15px;
  margin-bottom: 5px;
  color: grey;
}

.questionnair-table-contianer {
  width: 100%;
  height: 66vh;
  overflow-y: auto;
  background-color: rgb(249, 252, 255);
}
.questionnair-fullscreen-table-contianer {
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  background-color: rgb(240, 255, 255);
}

.questionnair-detail-container {
  background-color: white;
  height: 27rem;
  width: 70%;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.questionnair-table {
  width: 100%;
  border-collapse: collapse;
}
.questionnair-row-header {
  height: 43px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  text-align: left;
  font-size: small;
  color: rgb(59, 59, 59);
  padding-left: 6px;
  padding-right: 6px;
}
.s-no-style {
  width: 7%;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 400;
}
.category-style {
  width: 15%;
  padding-left: 2px;
  font-weight: 400;
}
.question-style {
  width: 22%;
  padding-left: 2px;
  font-weight: 400;
  overflow-wrap: anywhere;
  word-break: break-word;
}
.questionnair-container {
  padding-left: 20px;
  padding-right: 20px;
  height: 80vh;
}
.questionnair-row-description {
  height: 43px;
  width: 100%;
  background-color: rgb(253, 253, 253);
  text-align: left;
  font-size: small;
  font-weight: 400;
  color: rgb(59, 59, 59);
  padding-left: 6px;
  padding-right: 6px;
}
.user-content-main-final-container {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}

.user-content-main-lob-final-container {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: flex-start;
  margin-left: 3%;
}
.add-question-title {
  background-color: rgb(233, 233, 233);
  margin-top: 0px;
  height: 50px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: rgb(124, 11, 11);
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}
.search-question-title {
  background-color: rgb(233, 233, 233);
  margin-top: 0px;
  height: 50px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: brown;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
}
.header-close-btn {
  font-size: 20px;
  color: grey;
}
.header-close-btn:hover {
  color: rgb(179, 1, 1);
}
.Questionnair-search-main-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 40%;
  border-radius: 12px;
}
.questionair-search-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  padding-left: 8%;
}
.questionnair-select-text-input {
  width: 103%;
  height: 38px;
  border: solid 1px rgb(163, 163, 163);
  border-radius: 5px;
  padding-left: 13px;
  outline-color: rgb(107, 149, 255);
}

.questionnair-font-style {
  font-size: 15px;
}

.questionnair-header-style {
  font-weight: 500;
  color: rgb(27, 27, 27);
}
.question-visiblity-check {
  height: 15px;
  width: 15px;
  padding-left: 20px;
  border-radius: 10px;
}
.questionnair-checkbox-cotnainner {
  display: flex;
  align-items: center;
  height: 40px;
}
.check-box-label {
  margin-right: 10px;
}
.questionnair-table-btn-styles {
  border: solid 1px red;
}

.Questionnair-edit-icon {
  font-size: 16px;
  width: 30%;
  cursor: pointer;
}
.questionnair-view-icon {
  font-size: 22px;
  color: rgb(255, 98, 0);
}
.questionnair-hide-icon {
  font-size: 22px;
  color: rgb(255, 149, 0);
}
.questionnair-edit-color {
  color: rgb(0, 76, 255);
}
.questionnair-delete-color {
  color: rgb(179, 1, 1);
}
.disable-row-color {
  background-color: rgb(255, 240, 238);
}
