.dashboard-main-container {
  background-image: url("https://images.unsplash.com/photo-1598203636932-bd343e236f23?q=80&w=1988&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 45vh;
  background-size: cover;
  background-position-y: center;
}
.dashboard-content-container {
  height: 45vh;
  background-color: rgba(28, 4, 249, 0.216);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-info-container {
  height: 16rem;
  border: solid 1px white;
  background-color: rgb(240, 243, 255);
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 12px;
}
.icon-style {
  font-size: 50px;
  color: rgb(18, 41, 83);
}
.heading-style {
  font-weight: 400;
  font-size: 26px;
  color: rgb(23, 35, 73);
  margin-top: 15px;
  margin-bottom: 10px;
}
.paragraph-style {
  margin-top: 0px;
  font-size: small;
  text-align: center;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  color: rgb(111, 111, 111);
  font-family: Arial, Helvetica, sans-serif;
}
.extra-icon-style {
  transform: rotate(180deg);
}
