.newletter-content-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.637);
  position: absolute;
  top: 123px;
  left: 0%;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-newsletter-content-details-contianer {
  background-color: white;
  height: 23rem;
  width: 40%;
  border-radius: 12px;
}

.newsletter-header-contianer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 7vh;
}
.textarea--style {
  border-color: rgb(209, 207, 207);
  border-radius: 8px;
  padding: 10px;
  outline-color: rgb(129, 171, 255);
}
.newsletter-btn-container {
  margin: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: auto;
  height: 40px;
}
.newsletter-add-btn {
  height: 4vh;
  width: 6%;
  border-radius: 5px;
  border: none;
  background-color: rgb(1, 68, 155);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  cursor: pointer;
}
.newsletter-container {
  padding-left: 20px;
  padding-right: 20px;
  height: 80vh;
}
.add-newsletter-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.add-newsletter-title {
  background-color: rgb(222, 222, 222);
  margin-top: 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  padding-left: 15px;
  padding-right: 15px;
  color: brown;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: larger;
}

.newsletter-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter-table-header {
  width: 100%;
  height: 43px;
  background-color: rgb(235, 235, 235);
}
.newsletter-table {
  width: 100%;
  border-collapse: collapse;
}
.file-name-style {
  width: 40%;
}

.newsletter-table-description {
  background-color: rgb(253, 253, 253);
  height: 40px;
}
.newletter-label-name {
  font-family: Roboto;
  font-size: small;
  color: grey;
  margin-bottom: 10px;
}
.newsletter-file-attacment-style::file-selector-button {
  background-color: rgb(199, 64, 2);
  height: 35px;
  width: 25%;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}
.newsletter-file-attacment-style {
  color: grey;
}
