.contact-us-form {
  padding-left: 3rem;
  width: 50%;
  height: 100%;
}

.contact-us-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  height: 41rem;
}
.contact-info-icon-style {
  font-size: 22px;
  margin-right: 10px;
  color: rgb(51, 51, 51);
  padding: 0px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.info-container-set {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 00px;
  padding-bottom: 0px;
  /* border: solid 1px black; */
  height: 35px;
}

.contact-us-title {
  font-size: 24px;
  font-weight: lighter;
  font-family: sans-serif;
  color: #3770ac;
  margin-top: 0px;
}
.submit-button {
  background-image: linear-gradient(to bottom, #3770ac);
  color: white;
  border: none;
  width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.info-container {
  width: 50%;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 7rem;
  padding-left: 1rem;
}

.contact-us-form {
  min-width: 55%;
  max-width: 65%;
  margin-top: 20px;
  height: 67vh;
  margin-right: 0px;
}
.info-container-text {
  font-size: 15px;
  font-weight: lighter;
  font-family: sans-serif;
  color: #343434;
  margin-top: 0px;
  padding-top: 0;
  /* border: solid 1px black; */
}
.login-contact-us-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
}
.login-contact-us-form-label {
  font-size: 14px;
  color: #3b3b3bcc;
  font-family: Roboto, sans-serif;
  margin-bottom: 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.login-contact-us-input-style {
  width: 96%;
  height: 34px;
  border: 1px solid #7c7c7c;
  border-radius: 4px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  padding-left: 5px;
  outline-color: #3770ac;
}
.login-contact-us-textarea-style {
  width: 96%;
  height: 85px;
  border: 1px solid #7c7c7c;
  border-radius: 4px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  padding: 5px;
  outline-color: #3770ac;
}
.required {
  color: rgb(28, 122, 237);
}
.required-icon {
  font-size: 6px;
  color: rgb(206, 27, 27);
  font-weight: lighter;
  padding-left: 0.4rem;
}
.login-contact-username-input-container {
  width: 98%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
