.contact-us-form {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; */
  width: 60%;
  margin: 30px auto;
  margin-top: 20px;
  height: 67vh;
}

.contact-us-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 82vh;
}
.contact-info-icon-style {
  font-size: 22px;
  margin-right: 10px;
  color: rgb(51, 51, 51);
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.info-container-set {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-us-title {
  font-size: 24px;
  font-weight: lighter;
  font-family: sans-serif;
  color: #3770ac;
  margin-top: 0px;
}
.submit-button {
  background-image: linear-gradient(to bottom, #3770ac);
  color: white;
  border: none;
  width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.info-container {
  width: 30%;

  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.info-container-text {
  font-size: 15px;
  font-weight: lighter;
  font-family: sans-serif;
  color: #343434;
  margin: 0;
  padding: 0;
}
