.view-content-container {
  padding-left: 20px;
  height: 75vh;
}
.filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e4ccc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0px;
}
.view-filter-icon {
  margin-right: 10px;
}

.no-records-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: solid 1px #ccc;
  height: 53vh;
  color: rgb(179, 179, 179);
  font-family: Roboto;
  background-image: linear-gradient(
    rgba(19, 19, 19, 0.836),
    rgba(156, 133, 30, 0.647),
    rgba(0, 0, 0, 0.808)
  );
  border-radius: 20px;
  margin-right: 15px;
}
.no-records-title {
  font-size: 24px;
  font-weight: 300;
  border: solid 2px rgba(255, 255, 255, 0.394);
  height: 51vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
  border-radius: 20px;
  background-color: rgb(52, 52, 52);
}
.view-details-popup-menu {
  background-color: #000000e8;
  filter: blur(100%);
  position: absolute;
  top: 7.5%;
  left: 0%;
  width: 97.1%;
  padding: 20px;
  height: 83vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter-options-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 252, 252);
  height: 90vh;
  border-radius: 12px;
}
.view-filter-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.view-data-container {
  width: 98%;
  height: 41vh;
  border: solid 1px #cfcaca;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(248, 252, 255);
}
.view-input-container {
  background-color: rgb(239, 243, 247);
  margin-top: 5px;
  width: 95%;
  height: 9vh;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.view-data-label {
  font-weight: lighter;
  margin-bottom: 5px;
  color: rgb(52, 52, 52);
}
.view-data-select {
  width: 100%;
  height: 65%;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(76, 76, 76);
  outline: none;
}
.view-container-layout {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.view-small-input-container {
  background-color: rgb(239, 243, 247);
  margin-top: 5px;
  width: 95%;
  height: 8vh;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 5px;
}
.view-small-input-container-2 {
  background-color: rgb(239, 243, 247);
  margin-top: 5px;
  width: 95%;
  height: 8vh;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 5px;
}
.view-category-options {
  border: solid 1px rgb(183, 183, 183);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0%;
  background-color: rgb(251, 251, 251);
  border-radius: 10px;
  padding: 10px;
}
.view-category-option-label {
  font-weight: lighter;
  margin-bottom: 5px;
  color: rgb(52, 52, 52);
  padding-left: 20px;
  height: 30px;
  display: flex;
  align-items: center;
}
.view-category-option-label:hover {
  background-color: rgb(146, 146, 146);
  color: white;
}
.view-input-option-checkbox {
  margin-right: 20px;
}
.view-data-tag-label {
  font-weight: 400;
  margin-bottom: 5px;
  color: rgb(52, 52, 52);
  padding-left: 10px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgb(183, 183, 183);
  background-color: rgb(251, 251, 251);
  font-size: 14px;
  border-radius: 5px;
  font-family: Roboto;
}
.view-country-options {
  border: solid 1px rgb(183, 183, 183);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0%;
  background-color: rgb(251, 251, 251);
  border-radius: 10px;
  padding: 10px;
  height: 30vh;
  overflow-y: scroll;
}
.filter-submit-btn {
  background-color: rgb(25, 61, 223);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
.filter-cancel-btn {
  background-color: rgb(60, 165, 231);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}
.view-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.selectall-option {
  margin-bottom: 10px;
  background-color: rgb(221, 221, 221);
  margin-top: 0px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
  color: rgb(94, 94, 94);
  cursor: pointer;
}
.selectall-checkbox-style {
  margin-right: 15px;
}
.view-selected-data-container {
  border: solid 1px rgb(224, 224, 224);
  width: 98%;
  margin-top: 5px;
  height: 29vh;
  border-radius: 12px;
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: row;
}
.view-data-contianer {
  width: 100%;
  margin: 3px;
  background-color: white;
  padding: 3px;
  padding-left: 9px;
  border-radius: 12px;
  color: grey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.selected-option-list-style {
  list-style: none;
  font-family: Roboto;
  color: #00afe5;
  font-size: small;

  margin: 3px;
}
.view-selected-option-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  padding-left: 20px;
  font-weight: 100;
}
.selected-data-cotnainer-label {
  font-weight: 100;
  color: rgb(63, 63, 63);
  font-family: Roboto;
  padding-left: 15px;
}
